// Buttons
// -------

button, a.button {
  border: none; // TODO ensure weird default styles don't show up
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(to right, $mg-red 50%, $mg-black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: $mg-white;
  padding: 10px;
  border-left: 2px solid $mg-red;
  font-weight: 600;
  text-align: center;

  // Caret icon
  svg.button-icon {
    margin-left: 5px;
    width: 9px;
    height: 14px;
    fill: $mg-white;
  }

  transition: background-position .25s ease-out;

  &:hover,
  &:focus {
    background-position: left bottom;
  }
}

button.secondary, a.button.secondary {
  border: none;
  background: $mg-red;
  transition: background-color .25s ease-out;

  &:hover,
  &:focus {
    background: rgba($mg-red, 0.85);
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  // Buttons
  // -------

  button, a.button {
    display: block;
    margin: 10px 0;
  }
}