// Knockout
@font-face {
    font-family: 'Knockout';
    src: url('../fonts/Knockout/Knockout-HTF49-Liteweight.eot');
    src: url('../fonts/Knockout/Knockout-HTF49-Liteweight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Knockout/Knockout-HTF49-Liteweight.woff2') format('woff2'),
        url('../fonts/Knockout/Knockout-HTF49-Liteweight.woff') format('woff'),
        url('../fonts/Knockout/Knockout-HTF49-Liteweight.ttf') format('truetype'),
        url('../fonts/Knockout/Knockout-HTF49-Liteweight.svg#Knockout-HTF49-Liteweight') format('svg');
    font-weight: 500;
    font-style: normal;
}

// Inter
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.eot');
    src: url('../fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype'),
        url('../fonts/Inter/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.eot');
    src: url('../fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-LightBETA.eot');
    src: url('../fonts/Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter/Inter-LightBETA.woff') format('woff'),
        url('../fonts/Inter/Inter-LightBETA.ttf') format('truetype'),
        url('../fonts/Inter/Inter-LightBETA.svg#Inter-LightBETA') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.eot');
    src: url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}