// Forms / Inputs
// --------------

div.form-group {
  display: block;
  width: 100%;
}

input {
  // Text inputs
  &[type="text"] {
    font-size: 12px;
    line-height: 1.25;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: inset 1px 3px 5px #ddd;
    background: #fff;
  }
}

label {
  text-transform: uppercase;
  font-size: 12px;
}

input[type="checkbox"] {
  margin-right: 5px;
}