// Headings
// --------

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-family-headings;
}

h1 {
  font-size: 40px;
  letter-spacing: 3.2px;
}

h2 {
  font-size: 30px;
  letter-spacing: 2.4px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  letter-spacing: 1.2px;
}

h5 {
  letter-spacing: 0.9px;
}

h6 {
  letter-spacing: 1px;
}

.highlighted {
  background: $mg-black;
  color: $mg-white;
  max-width: 100%;
  max-width: max-content;
}

h1.highlighted {
  border-left: 5px solid $mg-red;
  padding: 0px 25px;
  line-height: 70px;
}

h2.highlighted {
  border-left: 5px solid $mg-red;
  padding: 0px 20px;
  line-height: 52px;
}

h3.highlighted {
  border-left: 4px solid $mg-red;
  padding: 0px 15px;
  line-height: 42px;
}

h4.highlighted {
  border-left: 4px solid $mg-red;
  padding: 0px 10px;
  line-height: 32px;
}

h5.highlighted {
  border-left: 3px solid $mg-red;
  padding: 0px 8px;
  line-height: 25px;
}

h6.highlighted {
  border-left: 3px solid $mg-red;
  padding: 0px 6px;
  line-height: 20px;
}

.with-red-accent::after {
  content: '';
  background: $mg-red;
  width: 20px;
  height: 2px;
  margin-top: 15px;
  display: block;
}

// Body
// ----

p {
  font-family: $font-family-body;
  font-size: 12px;
  line-height: 1.5;
}

// Links
// -----

a {
  font-size: 12px;
  color: $mg-red;

  &:hover {
    color: rgba($mg-red, 0.75);
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  // Headings
  // --------

  h1 {
    font-size: 30px;
    letter-spacing: 2.4px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  h4 {
    letter-spacing: 1.2px;
  }

  h5 {
    letter-spacing: 0.9px;
  }

  h6 {
    letter-spacing: 1px;
  }

  h1.highlighted {
    border-left: 5px solid $mg-red;
    padding: 0px 20px;
    line-height: 52px;
  }

  h2.highlighted {
    border-left: 4px solid $mg-red;
    padding: 0px 15px;
    line-height: 42px;
  }

  h3.highlighted {
    border-left: 4px solid $mg-red;
    padding: 0px 10px;
    line-height: 32px;
  }

  h4.highlighted {
    border-left: 3px solid $mg-red;
    padding: 0px 8px;
    line-height: 25px;
  }

  h5.highlighted {
    border-left: 3px solid $mg-red;
    padding: 0px 6px;
    line-height: 20px;
  }

  h6.highlighted {
    border-left: 3px solid $mg-red;
    padding: 0px 6px;
    line-height: 20px;
  }

  .with-red-accent::after {
    width: 20px;
    height: 2px;
    margin-top: 10px;
  }

  // Body
  // ----

  p {
    font-size: 12px;
    line-height: 1.5;
  }
}