// Fonts
$font-family-headings: "Knockout"; // TODO local font files
$font-family-body: "Inter"; // TODO local font files

// Font weights
$font-weight-bold: 800;
$font-weight-semibold: 600;
$font-weight-regular: 500;

// Colors
$mg-red: #D72E27;
$mg-black: #000000;
$mg-lightgray: #F2F2F2;
$mg-white: #FFFFFF;

// Breakpoints
$breakpoint-sm: 480px;