@import "normalize";

/* ------- For this demo only ---------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 1rem;
}

section {
  margin: 1rem 0 4rem;
}

label.section-title {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  color: rgba(black, 0.5);
  letter-spacing: 1.2px;
}

/* --------------------------------- */

@import "variables";
@import "typography";
@import "buttons";
@import "forms";
@import "fonts";